* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: lightgrey;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 100vh;
}

/* Badges base styling */

.badge {
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 20px;
  padding: 2px 12px;
}

/* Shape Modifiers */

.badge-square {
  border-radius: 4px;
}

.badge-pill {
  border-radius: 12px;
}

/* Color Variants */

.badge-grey {
  background-color: #f3f4f6;
  color: #1f2937;
}

.badge-red {
  background-color: #fee2e2;
  color: #991b1b;
}

.badge-yellow {
  background-color: #fef3c7;
  color: #92400e;
}

.badge-green {
  background-color: #d1fae5;
  color: #065f46;
}

.badge-blue {
  background-color: #dbeafe;
  color: #1e40af;
}

.badge-indigo {
  background-color: #e0e7ff;
  color: #3730a3;
}

.badge-purple {
  background-color: #ede9fe;
  color: #5b21b6;
}

.badge-pink {
  background-color: #fce7f3;
  color: #9d174d;
}

/* Banner */

.banner {
  max-width: 896px;
  background-color: white; /* default */
  border-radius: 6px;
  font-family: Inter;
  padding: 16px;
  display: grid;
  grid-template: auto / 18px 1fr;
  gap: 8px 12px;
}

.banner-icon {
  width: 20px;
  height: 20px;
}

.banner-icon > svg {
  width: 16px;
  height: 16px;
}

.banner-title,
.banner-text {
  font-size: 0.875rem;
  width: 832px;
  margin: 0;
  color: black; /* Default */
}

.banner-title {
  font-weight: 500;
}

.banner-text {
  font-weight: 400;
  grid-column: 2 / 3;
}

/* Color Variants for banner */

.banner-success {
  background-color: #ecfdf5;
}

.banner-warning {
  background-color: #fffbeb;
}

.banner-error {
  background-color: #fef2f2;
}

.banner-neutral {
  background-color: #eff6ff;
}

/* Color Variants for banner title  */

.banner-success .banner-title {
  color: #065f46;
}

.banner-warning .banner-title,
.banner-error .banner-title {
  color: #92400e;
}

.banner-neutral .banner-title {
  color: #1e40af;
}

/* Color Variants for banner text  */

.banner-success .banner-text {
  color: #047857;
}

.banner-warning .banner-text,
.banner-error .banner-text {
  color: #b45309;
}

.banner-neutral .banner-text {
  color: #1c51b9;
}

/* Color Variants for Icons */

.banner-success .banner-icon {
  color: #34d399;
}

.banner-warning .banner-icon {
  color: #fbbf24;
}

.banner-error .banner-icon {
  color: #f87171;
}

.banner-neutral .banner-icon {
  color: #60a5fa;
}

/* Card */

.card {
  width: 384px;
  padding-top: 24px;
}

.card-container {
  background-color: #f9fafb;
  width: 100%;
  padding: 0px 24px 32px 24px;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}

.card-container:hover {
  box-shadow: 0px 4px 25px 0px rgb(0 0 0 / 0.1);
}

.card-wrapper {
  width: 336px;
}

.card-content {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-icon {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: #3f75fe;
  box-shadow:
    0px 4px 6px -2px #0000000d,
    0px 10px 15px -3px #0000001a;
  margin: 0;
  position: absolute;
  top: -24px;
  left: 50%;
  transform: translateX(-50%);
}

.card-icon svg,
.card-icon img {
  width: 24px;
  height: 24px;
  padding: 2px 3px;
  color: white;
}

.card-details {
  width: 336px;
  padding: 48px 24px 0;
}

.card-title,
.card-description {
  width: 100%;
  font-family: Inter, sans-serif;
  text-align: center;
}

.card-title {
  color: #111827;
  height: 28px;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 28px;
  margin: 10px 0;
}

.card-description {
  color: #6b7280;
  font-size: 1rem;
  font-weight: 300;
  line-height: 24px;
}

/* Testimonial */

.testimonial {
  width: 100%;
  max-width: 1358px;
  background-color: #f9fafb;
  background-image: url(./components/testimonials/dot-pattern.svg);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: bottom left;
  padding: 96px 39px 112px;
}

.testimonial--no-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial__wrapper {
  width: 100%;
  max-width: 1280px;
  padding: 0 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial__content {
  width: 100%;
  max-width: 1216px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.testimonial__leading-content {
  width: 100%;
  max-width: 1216px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.testimonial__logo {
  width: 180px;
  height: 32px;
}

.testimonial__text {
  width: 100%;
  max-width: 768px;
  color: #111827;
  font-family: Inter, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  margin: 0;
}

.testimonial__cite {
  width: 100%;
  max-width: 1216px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial__cite-info {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.testimonial__cite-name {
  width: 120px;
  height: 24px;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #111827;
}

.testimonial__cite-divider {
  font-family: Inter, sans-serif;
  font-weight: bolder;
  font-size: 20px;
  color: #2e59f3;
}

.testimonial__cite-title {
  width: 130px;
  height: 24px;
  color: #6b7280;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
