* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: lightgrey;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 100vh;
}

/* Badges base styling */

.badge {
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 20px;
  padding: 2px 12px;
}

/* Shape Modifiers */

.badge-square {
  border-radius: 4px;
}

.badge-pill {
  border-radius: 12px;
}

/* Color Variants */

.badge-grey {
  background-color: #f3f4f6;
  color: #1f2937;
}

.badge-red {
  background-color: #fee2e2;
  color: #991b1b;
}

.badge-yellow {
  background-color: #fef3c7;
  color: #92400e;
}

.badge-green {
  background-color: #d1fae5;
  color: #065f46;
}

.badge-blue {
  background-color: #dbeafe;
  color: #1e40af;
}

.badge-indigo {
  background-color: #e0e7ff;
  color: #3730a3;
}

.badge-purple {
  background-color: #ede9fe;
  color: #5b21b6;
}

.badge-pink {
  background-color: #fce7f3;
  color: #9d174d;
}

/* Banner */

.banner {
  max-width: 896px;
  height: 80px;
  background-color: #ecfdf5;
  border-radius: 6px;
  font-family: Inter;
  padding: 16px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.banner-icon {
  width: 20px;
  height: 20px;
}

.banner-icon > svg {
  color: #34d399;
  width: 16px;
  height: 16px;
}

.banner-content {
  width: 832px;
  height: 48px;
}

.banner-title {
  font-size: 0.875rem;
  font-weight: 500;
  color: #065f46;
  margin: 0 0 10px;
}

.banner-text {
  font-size: 0.875rem;
  font-weight: 400;
  text-align: left;
  color: #047857;
  margin: 0;
}
