* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: lightgrey;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 100vh;
}

/* Badges base styling */

.badge {
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 20px;
  padding: 2px 12px;
}

/* Shape Modifiers */

.badge-square {
  border-radius: 4px;
}

.badge-pill {
  border-radius: 12px;
}

/* Color Variants */

.badge-grey {
  background-color: #f3f4f6;
  color: #1f2937;
}

.badge-red {
  background-color: #fee2e2;
  color: #991b1b;
}

.badge-yellow {
  background-color: #fef3c7;
  color: #92400e;
}

.badge-green {
  background-color: #d1fae5;
  color: #065f46;
}

.badge-blue {
  background-color: #dbeafe;
  color: #1e40af;
}

.badge-indigo {
  background-color: #e0e7ff;
  color: #3730a3;
}

.badge-purple {
  background-color: #ede9fe;
  color: #5b21b6;
}

.badge-pink {
  background-color: #fce7f3;
  color: #9d174d;
}

/* Banner */

.banner {
  max-width: 896px;
  height: 80px;
  background-color: white; /* default */
  border-radius: 6px;
  font-family: Inter;
  padding: 16px;
  display: flex;
  justify-content: center;
  gap: 10px;
  overflow-y: scroll;
}

.banner-icon {
  width: 20px;
  height: 20px;
}

.banner-icon > svg {
  width: 15px;
  height: 15px;
}

.banner-content {
  width: 832px;
  height: 48px;
}

.banner-title,
.banner-text {
  font-size: 0.875rem;
  text-align: left;
}

.banner-title {
  font-weight: 500;
  color: black; /* Default */
  margin: 0 0 10px;
}

.banner-text {
  font-weight: 400;
  color: black;
  margin: 0;
}

/* Color Variants for banner */

.banner-success {
  background-color: #ecfdf5;
}

.banner-warning {
  background-color: #fffbeb;
}

.banner-error {
  background-color: #fef2f2;
}

.banner-neutral {
  background-color: #eff6ff;
}

/* Color Variants for banner title  */

.banner-success .banner-title {
  color: #065f46;
}

.banner-warning .banner-title,
.banner-error .banner-title {
  color: #92400e;
}

.banner-neutral .banner-title {
  color: #1e40af;
}

/* Color Variants for banner text  */

.banner-success .banner-text {
  color: #047857;
}

.banner-warning .banner-text,
.banner-error .banner-text {
  color: #b45309;
}

.banner-neutral .banner-text {
  color: #1c51b9;
}

/* Color Variants for Icons */

.banner-success .banner-icon {
  color: #34d399;
}

.banner-warning .banner-icon {
  color: #fbbf24;
}

.banner-error .banner-icon {
  color: #f87171;
}

.banner-neutral .banner-icon {
  color: #60a5fa;
}
